@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-big-calendar/lib/css/react-big-calendar.css";

:root {
  --background: #fdf6e9; 
  --foreground: #2f5d3e; 
}

/* @media (min-width: 768px) {
  .no-scrollbar::-webkit-scrollbar { display: none; } 
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; } 
} 
*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.rbc-toolbar button { border-radius: 10px; padding: 6px 10px; }
.rbc-today { background: rgba(67,160,71,.06); }
.rbc-event { background:#2f6b3f; border-color:#2f6b3f; }
.rbc-calendar .rbc-event { background:#2f6b3f !important; border-color:#2f6b3f !important; }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ---- anti-horizontal-scroll ---- */
html, body {
  overflow-x: hidden; 
}


img, video, canvas {
  max-width: 100%;
  height: auto;
}

/* === Swiper pagination custom styles === */
.swiper-pagination-bullet {
  background: #18d979 !important;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f5a940 !important;
}

.swiper,
.hero {
  overflow: hidden;
}
